Repository imvenkip/cortx-motr-1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker:rebuild-images, docker:rebuild-images:75, docker:rebuild-images:73, docker:rebuild-images:sage, vagrant:rebuild-box, vagrant:m0vg

docker:rebuild-images:
  stage: build
  tags:
  - docker-image-build
  when: manual
  variables:
    DOCKER_IMAGE_TAG: latest
  script:
  - sed -e 's/@.*@/111/g' mero.spec.in > mero.spec
  - cd scripts/docker/
  - make $DOCKER_IMAGE_TAG
  - make push tag="${DOCKER_IMAGE_TAG}*"

docker:rebuild-images:75:
  stage: build
  tags:
  - docker-image-build
  when: manual
  variables:
    DOCKER_IMAGE_TAG: '7.5'
  script:
  - sed -e 's/@.*@/111/g' mero.spec.in > mero.spec
  - cd scripts/docker/
  - make $DOCKER_IMAGE_TAG
  - make push tag="${DOCKER_IMAGE_TAG}*"

docker:rebuild-images:73:
  stage: build
  tags:
  - docker-image-build
  when: manual
  variables:
    DOCKER_IMAGE_TAG: '7.3'
  script:
  - sed -e 's/@.*@/111/g' mero.spec.in > mero.spec
  - cd scripts/docker/
  - make $DOCKER_IMAGE_TAG
  - make push tag="${DOCKER_IMAGE_TAG}*"
  after_script:
  - date -u -Isec
  - cd scripts/docker/
  ...

docker:rebuild-images:sage:
  stage: build
  tags:
  - docker-image-build
  when: manual
  variables:
    DOCKER_IMAGE_TAG: sage
  script:
  - sed -e 's/@.*@/111/g' mero.spec.in > mero.spec
  - cd scripts/docker/
  - make $DOCKER_IMAGE_TAG
  - make push tag="${DOCKER_IMAGE_TAG}*"
  before_script:
  - date -u -Isec
  ...

vagrant:rebuild-box:
  stage: build
  tags:
  - m0vg
  when: manual
  variables:
    M0VG: ./scripts/m0vg
  script:
  - '$M0VG env add <<EOF
  
    M0_VM_BOX_BUILDER_MODE=yes
  
    M0_VM_BOX_VERSION=1809.01
  
    M0_VM_NAME_PREFIX=${WORKSPACE_NAME}
  
    M0_VM_HOSTNAME_PREFIX=devbox
  
    EOF
  
    '
  - time $M0VG up devbox
  - $M0VG reload devbox
  ...

vagrant:m0vg:
  stage: test
  tags:
  - m0vg
  variables:
    M0VG: ./scripts/m0vg
  script:
  - export JOB_NAME="${WORKSPACE_NAME}-m0vg"
  - sudo rm -rf ${WORKSPACE_DIR}
  - mkdir -p ${WORKSPACE_DIR}
  - cp -a ../${CI_PROJECT_NAME} ${WORKSPACE_DIR}
  - cd ${WORKSPACE_DIR}/${CI_PROJECT_NAME}
  - '$M0VG env add <<EOF
  
  ...

gitlab: exclude docker and vagrant jobs from schedules
  .gitlab-ci.yml
Due: none

gitlab: fix vagrant:m0vg job
  .gitlab-ci.yml
Due: none

scripts/provisioning: enable shared dir for devbox VM
  scripts/provisioning/Vagrantfile
Due: vagrant:rebuild-box, vagrant:m0vg

gitlab: use common prefix for vagrant:rebuild-box job
  .gitlab-ci.yml
Due: none

scripts/provisioning: increase memory for devbox VM to 6144MB
  scripts/provisioning/Vagrantfile
Due: vagrant:rebuild-box, vagrant:m0vg

MERO-2902: Modify m0genfacts file to allow custom values of pdclust attributes
  scripts/install/usr/share/mero/templates/halon_facts.yaml.erb
  utils/m0genfacts
Due: none

scripts/provisioning: add optional Seagate NTP config
  scripts/provisioning/roles/base-os/handlers/main.yml
  scripts/provisioning/roles/base-os/tasks/main.yml
Due: vagrant:rebuild-box, vagrant:m0vg

scripts/provisioning: add more default tools
  scripts/provisioning/gitlab.yml
  scripts/provisioning/roles/base-os/tasks/main.yml
  scripts/provisioning/roles/base-os/vars/Debian.yml
  scripts/provisioning/roles/base-os/vars/RedHat.yml
  scripts/provisioning/roles/vagrant/vars/main.yml
Due: vagrant:rebuild-box, vagrant:m0vg

m0_pdclust_attr_check(): Fix error message
  layout/pdclust.c
Due: none

Problem: `m0vg up cmu` fails
  scripts/provisioning/roles/mero-build/tasks/main.yml
  scripts/provisioning/roles/mero-build/vars/RedHat.yml
Due: vagrant:rebuild-box, vagrant:m0vg

lib/ub: make m0_ub_set::us_run a fixed size array
  lib/ub.h
Due: none

scripts/m0vg: fix network bridge mode
  scripts/provisioning/Vagrantfile
Due: vagrant:rebuild-box, vagrant:m0vg

m0genfacts: refactor gen_allowances()
  scripts/install/usr/share/mero/templates/halon_facts.yaml.erb
  utils/m0genfacts
Due: none

[HALON-902] m0genfacts: support zeroes-only allowed_failures
  utils/m0genfacts
Due: none

m0genfacts (collect_disks_for): deal with NIL
  utils/m0genfacts
Due: none

build: update python deps to use python36 packages
  configure.ac
  mero.spec.in
  scripts/docker/centos-sage/Dockerfile
  scripts/docker/centos-vault/Dockerfile
  scripts/provisioning/README.md
  scripts/provisioning/roles/mero-build/vars/RedHat.yml
Due: docker:rebuild-images, docker:rebuild-images:75, docker:rebuild-images:73, docker:rebuild-images:sage, vagrant:rebuild-box, vagrant:m0vg

docker: add EOS image
  .gitlab-ci.yml
  scripts/docker/Makefile
  scripts/docker/centos-eos/C7.5.1804.repo
  scripts/docker/centos-eos/Dockerfile
Due: docker:rebuild-images, docker:rebuild-images:75, docker:rebuild-images:73, docker:rebuild-images:sage

scripts/provisioning: update Lustre to the latest version 2.10.7
  scripts/docker/Makefile
  scripts/docker/lustre-client/Dockerfile
  scripts/docker/mero-devel/Dockerfile
  scripts/provisioning/roles/lustre-client/tasks/main.yml
Due: docker:rebuild-images, docker:rebuild-images:75, docker:rebuild-images:73, docker:rebuild-images:sage, vagrant:rebuild-box, vagrant:m0vg

utils/m0genfacts: fix .erb template search path
  utils/m0genfacts
Due: none

scripts/provisioning: fix `m0vg provision` for centos75/dev box
  scripts/provisioning/Vagrantfile
Due: vagrant:rebuild-box, vagrant:m0vg

m0reportbug: collect halon-rg.json
  utils/m0reportbug
Due: none

[HALON-903] m0genfacts: support empty pool_allowed_failures
  scripts/install/usr/share/mero/templates/halon_facts.yaml.erb
  utils/m0genfacts
Due: none

stob: add m0_stob_fd()
  be/io.c
  be/seg.c
  conf/confd_stob.c
  ioservice/storage_dev.c
  stob/linux.c
  stob/stob.c
  stob/stob.h
  stob/ut/adieu.c
Due: none

MERO-2903 Fix for panic at service context fetch
  clovis/clovis_internal.h
  clovis/clovis_obj.c
  clovis/cob.c
  pool/pool.c
  pool/pool.h
  pool/pool_machine.c
Due: none

scripts/provisioning: update gitlab runner nodes inventory
  scripts/provisioning/gitlab-runners.inventory
  scripts/provisioning/roles/gitlab-runner/tasks/main.yml
Due: vagrant:rebuild-box, vagrant:m0vg

m0genfacts: Simplify `select` expression
  utils/m0genfacts
Due: none

configure.ac: Use `AX_PYTHON_MODULE` macro properly
  configure.ac
Due: none

be/alloc: don't GET/PUT outside segment in init()
  be/alloc.c
Due: none

cleanup()
  be/ut/paged.c
Due: none

be/btree: btree read-interfaces updated w.r.t. paged
  balloc/balloc.c
  be/btree.c
  be/btree.h
  be/extmap.c
  be/ut/btree.c
  cas/ctg_store.c
  cob/cob.c
  conf/db.c
Due: none

checkpoint(): COMPAT mode works
  balloc/balloc.c
  be/btree.c
  be/btree.h
  be/extmap.c
  be/ut/btree.c
  cas/ctg_store.c
  cob/cob.c
  conf/db.c
Due: none

checkpoint(): COMPAT mode works
  be/btree.c
  be/btree.h
  be/ut/btree.c
  cas/index_gc.c
Due: none

checkpoint(): COMPAT mode works
  be/btree.c
  format/format.c
Due: none

be/btree: refacoring, removed usage of m0_be_btree::bb_seg
  balloc/balloc.c
  be/btree.c
  be/btree.h
  be/extmap.c
  be/reg.c
  be/ut/btree.c
  cas/ctg_store.c
  cob/cob.c
Due: none

be/ut/btree: in COMPAT mode, getting rid of cursor test first
  be/btree.c
  be/linux_kernel/stubs.c
  be/ut/btree.c
  be/ut/helper.c
  be/ut/main.c
Due: none

cursors: checkpoint()
  be/btree.c
  be/ut/helper.c
Due: none

WWW: iter_prepare() updated
  1
  123.p
  be/btree.c
  be/ut/1111
  ro_hex.hex
  ro_result.hex
  ro_xxx.hex
  rr_hex.hex
  rr_result.bin
  rr_result.hex
  rr_xxx.hex
Due: none

btree: cursor work started(), updated interfaces
  balloc/balloc.c
  be/btree.c
  be/btree.h
  be/extmap.c
  be/ut/btree.c
  be/ut/helper.c
  cas/ctg_store.c
  cob/cob.c
  cob/ns_iter.c
  conf/db.c
Due: none

Path conditions:
  docker:rebuild-images: any of: scripts/docker/**/*
  docker:rebuild-images:75: any of: scripts/docker/**/*
  docker:rebuild-images:73: any of: scripts/docker/**/*
  docker:rebuild-images:sage: any of: scripts/docker/**/*
  vagrant:rebuild-box: any of: scripts/provisioning/Vagrantfile, scripts/provisioning/roles/**/*
  vagrant:m0vg: any of: scripts/provisioning/Vagrantfile, scripts/provisioning/roles/**/*
